body {
	width: 50%;
	margin-left: 30%;
	border-left: 1px dashed black;
	padding: 10px;
}
h1 {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-style: italic;
	font-size: 3em;
	text-align: left;
	margin-bottom: 0px;
	}
h2 {
	margin-bottom: 10%;
	text-indent: 3em;
	font-size: 1em;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	text-align: left;
	font-style: italic;
	}

#css-zen-garden {
	background-color: lightblue;
}
#zen-intro {
	text-align: justify;
}
#zen-summary {
	margin-left: 3em;
	margin-bottom: 3em;
	font-style: italic;
	text-align: justify;
}
#zen-preamble {
	text-align: justify;
}
#design-selection{
	line-height: 3em;
	position: fixed;
	top: 30px;
	left: 10px;
}
#design-selection li {
	list-style: none;
	border-bottom: 1px dashed black;
}

#design-selection