body {
	width: 50%;
	margin-left: 30%;
	border-left: 1px dashed black;
	padding: 10px;
	padding-left: 60px;
	text-align: justify;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
h1 {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-style: italic;
	font-size: 3em;
	text-align: left;
	margin-bottom: 0px;
	}
h2 {
	margin-bottom: 10%;
	text-indent: 3em;
	font-size: 1em;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	text-align: left;
	font-style: italic;
	}

#css-zen-garden {
	background-attachment: fixed;
	background-image: url('bg.jpg');
	background-color: lightblue;
}
#zen-intro {
	background-color: rgba(155, 195, 124, .6);
	text-align: justify;
}
#zen-summary {
	margin-left: 3em;
	margin-bottom: 3em;
	font-style: italic;
	text-align: justify;
}
#zen-preamble {
	text-align: justify;
}
#zen-explanation {
	background-color: rgba(155, 195, 124, .6);
}
#zen-participation {
	background-color: rgba(155, 195, 124, .6);
}
#zen-benefits{
	background-color: rgba(155, 195, 124, .6);
}
#zen-requirements{
	background-color: rgba(155, 195, 124, .6);
}
#design-selection{
	line-height: 3em;
	position: fixed;
	top: 30px;
	left: 10px;
}
#design-selection .select{
	text-indent: 3em;
}
#design-selection li {
	background-color: rgba(155, 195, 124, .6);
	width: 100%;
	height: 100%;
	text-align: center;
	margin: 10px;
	list-style: none;
	border-radius: 30px;
	transition: width, height 2s;
}

#design-selection li:hover {
	background-color: rgba(155, 195, 124, .6);
	width: 105%;
}
#design-archives {
	
}